{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ArtI</title>
        <link rel="stylesheet" href="{% static 'ArtI/css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'ArtI/css/styles.css' %}" />
        <script src="{% static 'ArtI/scripts/voronoi.js' %}" defer></script>
    </head>
    <body class="css-houdini voronoi">
        <div class="container">
            <header class="header">
                <div>
                    <a href="http://127.0.0.1:8000/"><h1 class="h1">ArtI</h1></a>
                </div>
                <div>
                    <nav>
                        <a class="nav-a a" href="http://127.0.0.1:8000/categories/">Categories</a>
                        <a class="nav-a a" href="http://127.0.0.1:8000/artists/">Our artists</a>
                        <a class="nav-a a" href="http://127.0.0.1:8000/creations/">Browse creations</a>
                    </nav>
                </div>
                <div>
                    <a class="a">Login</a>
                </div>
            </header>
    
            <main class="main">
                {% block content %}{% endblock %} 
            </main>
    
            <footer class="footer">
                <p>Kévin Martin - 2024</p>
            </footer>
        </div>
    </body>
</html>