{% extends 'ArtI/base.html' %}

{% block content %}

<h2 class="h2">Creations</h2>
    <div class="articles">
        <div class="article">
          <img src="image1.jpg" alt="Image 1">
          <p class="description">Description for article 1</p>
        </div>
        <div class="article">
          <img src="image2.jpg" alt="Image 2">
          <p class="description">Description for article 2</p>
        </div>
        <div class="article">
          <img src="image3.jpg" alt="Image 3">
          <p class="description">Description for article 3</p>
        </div>
        <div class="article">
          <img src="image4.jpg" alt="Image 4">
          <p class="description">Description for article 4</p>
        </div>
      </div>

{% endblock %}