@font-face {
  font-family: "ThePolygonal-ZulEan";
  src: 
    local("ThePolygonal-ZulEan"),
    url('../fonts/ThePolygonal-ZulEan.otf') format('opentype');
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --padding: 1rem;
  --alphablack: rgba(0, 0, 0, 0.3);
  --alphawhite: rgba(255, 255, 255, 0.9);
  --black: #000000;
  --border: 1px var(--black) solid;
  --margin-inline: calc((100vw - (100vw / 1.618)) / 2);
  --margin-vertical: 1rem;
  --nav-a-margin: 1rem;
  cursor: url(../cursor/cursor.png), auto;
  scrollbar-width: thin;
}

.container {
  padding-inline: auto;
}

.header, .footer, .main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  border: var(--border);
  margin-inline: var(--margin-inline);
  margin-top: var(--margin-vertical);
  background-color: var(--alphawhite);
  box-shadow: 0px 2px var(--alphablack);
  backdrop-filter: blur(1px);
}

.main {
  flex-direction: column;
}

.footer {
 margin-bottom: var(--margin-vertical);
 justify-content: center;
}

.h1, .h2 {
  font-family: "ThePolygonal-ZulEan";
  font-size: 3rem;
}

.h2 {
  margin-bottom: var(--margin-vertical);
  position: relative;
}

.h2::before {
  font-size: 5rem;
  color: var(--alphablack);
  content: "\25B2\25B2";
  position: absolute;
  right: 35%;
  top: -30%;
}

.h2::after {
  font-size: 5rem;
  color: var(--alphablack);
  content: "\25BC";
  position: absolute;
  right: 52%;
  top: -55%;
}

.a {
cursor: pointer;
}

.nav-a {
  margin-inline: var(--nav-a-margin);
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: calc(100% /1.618);
}

.article {
  display: flex;
  align-items: center;
  gap: var(--padding);
}

.article img {
  width: 50%;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  background-color: var(--alphablack);
  min-height: 300px;
}

.article .description {
  width: 50%;
}

.article:nth-child(odd) {
  flex-direction: row;
}

.article:nth-child(even) {
  flex-direction: row-reverse;
}

.article:nth-child(even) .description {
  text-align: right;
}

/* voronoi */

.voronoi {
	width: 99.1vw;
	height: 100%;

	--voronoi-number-of-cells: 100;
	--voronoi-dot-color: #fff;
  --voronoi-cell-color: #fff;

	background-image: paint(voronoi);
  background-size: cover; /* Ensures it covers the whole viewport */
  background-position: center; /* Centers the pattern */
  background-repeat: no-repeat; /* Prevents tiling */
	
	transition: 
		--voronoi-line-color 0.5s ease-in-out,
		--voronoi-dot-color 0.5s ease-in-out;
}

@property --voronoi-number-of-cells {
	syntax: "<integer>";
	initial-value: 25;
	inherits: false;
}
@property --voronoi-margin {
	syntax: "<percentage>";
	initial-value: -2%;
	inherits: false;
}
@property --voronoi-line-color {
	syntax: "<color>";
	initial-value: #000;
	inherits: false;
}
@property --voronoi-line-width {
	syntax: "<integer>";
	initial-value: 1;
	inherits: false;
}
@property --voronoi-dot-color {
	syntax: "<color>";
	initial-value: transparent;
	inherits: false;
}
@property --voronoi-dot-size {
	syntax: "<integer>";
	initial-value: 2;
	inherits: false;
}
@property --voronoi-cell-colors {
	syntax: '<color>';
	initial-value: #fff;
	inherits: false;
}
@property --voronoi-seed {
	syntax: "<number>";
	initial-value: 000001;
	inherits: true;
}